.scrollComponent{
    display: flex;
    justify-content: center;
}

.createPostContainer{
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    position: relative;
    align-items: center;
    background: rgb(248, 242, 242);
    border-radius: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;

}

.userProfile{
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}


.createPostContainer > textarea{
    width: 100%;
}

.fab{
    background: blue;
    border-radius: 100%;
    
    justify-content: center;
    display: flex;
}

.fab > svg{
    width: fit-content;
    height: 30px;
    color: white;
}

.textArea{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;

}

.uploadButton{
    position: absolute;
    right: 0;
    bottom: -30%;
    background: rgb(3, 103, 184);
    color: white;
    border-radius: 10px;
    padding-inline: 0.4rem;
    padding-block: 0.4rem;
    cursor: pointer;
}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.singleCard__profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard__profileContainer > img{
    width: 10%;
    border-radius: 50%;
}

.singleCard__image{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}
.singleCard__image>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.optionsContainer{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;
}

.singleOption__optionsContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}

.singleOption__optionsContainer > svg{ 
    height: 100%;
    width: 8%;
    min-width: 1rem;
}

.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.allCommentsContainer{
    min-width: 40svw;
    max-width: 1120px;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
}

.postCommentContainer{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.postCommentContainer > input{
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    border: none;
    outline: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}

.postCommentContainer > input:focus{
    border: 1px solid silver;
}

.postCommentContainer__commentBtn{
    flex: 0.1;
    width: fit-content;
    padding: 1.2rem;
    background: blueviolet;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .allCommentsContainer{
        width: 90%;
    }
}