.container{
    padding: 1.2rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarOptionContainer{
    display: flex;;
}

.buttonJoin{
    background: #CD8987;
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}